@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#F5F1EA];
}

/* Add custom styles for the mobile notch */
.notch {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 25px;
  background-color: #000;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}